@model List<DataAccess.Entities.User>
@{
    ViewBag.Title = "home";
}





<div class="row">

    <!--error modal (for all error this will be called-->
    <div class="modal fade" id="new-contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="border-radius:unset;border:1px solid #e8e5e5;">
                <div class="modal-header">
                    <h3 class="modal-title" id="contact-modal-title">
                        <img src="~/Content/icons/088-user.png" height="30" width="30" class="rounded" style="display:inline-block;" />  <span style="">New Contact</span>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <!--contact form-->
                            <form enctype="multipart/form-data" name="newContactForm" id="newContactForm" style="padding:2%;">
                                <div class="row" style="padding:3%; border-bottom:1px solid #ff2d6d; border-radius:2%;">
                                    <div class="col-12">
                                        <img src="~/Content/icons/038-contact book.png" height="30" width="30" class="rounded" style="display:inline-block;" /><span class="h4 text-muted" style="font-family:'Comic Sans MS';font-weight:bold;">  Personal information</span>
                                    </div>
                                    <div class="col-12">
                                        <div class="row" style="margin-top:5%;">
                                            <div class="col-12">
                                                <!--contact names-->
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="contactFirstName" class="text-muted" style="font-weight:bold;">First Name</label>
                                                        <input type="text" class="form-control" id="contactFirstName" name="contactFirstName" style="border-radius:1px; margin-left:auto; margin-right:auto;" placeholder="First Name">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="contactLastName" class="text-muted" style="font-weight:bold;">Last Name</label>
                                                        <input type="text" class="form-control" id="contactLastName" name="contactLastName" style="border-radius:1px; margin-left:auto; margin-right:auto; " placeholder="Last Name">
                                                    </div>
                                                </div>

                                                <!--contact id and status and gender-->
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="contactIdNumber" class="text-muted" style="font-weight:bold;">Id Number</label>
                                                        <input type="text" class="form-control" id="contactIdNumber" name="contactIdNumber" style="border-radius:1px; margin-left:auto; margin-right:auto;" placeholder="Id number">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="contactStatus" class="text-muted" style="font-weight:bold;">Status</label>
                                                        <select class="form-control" id="contactStatus" name="contactStatus" aria-describedby="contStatus" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                            <option value="">Select Contact Status</option>
                                                            <option value="enabled">Enabled</option>
                                                            <option value="disabled">Disabled</option>
                                                        </select>
                                                        <small id="contStatus" class="form-text text-muted">A contact will be shown according to the status choosen</small>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="contactGender" class="text-muted" style="font-weight:bold;">Gender</label>
                                                        <select class="form-control" id="contactGender" name="contactGender" aria-describedby="contStatus" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                            <option value="">Select gender</option>
                                                            <option value="male">Male</option>
                                                            <option value="female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <!--phone-->
                                                <div class="form-group">
                                                    <label for="contactPhone" class="text-muted" style="font-weight:bold;">Phone</label>
                                                    <input type="text" class="form-control" id="contactPhone" name="contactPhone" style="border-radius:1px; margin-left:auto; margin-right:auto;" placeholder="enter phone">
                                                </div>

                                                <!--email-->
                                                <div class="form-group">
                                                    <label for="contactEmail" class="text-muted" style="font-weight:bold;">Email</label>
                                                    <input type="email" class="form-control" id="contactEmail" name="contactEmail" style="border-radius:1px; margin-left:auto; margin-right:auto;" placeholder="enter email">
                                                </div>
                                            </div>

                                            <!--avatar-->
                                            <div class="text-center" style="border:1px solid #d5d5d5; background-color:#fff; margin-top:5%; padding:1%;">
                                                <div style="color:#306ffd;border-bottom:1px solid #d1d5da;padding:2%; font-weight:bold;" class="text-justify">
                                                    <img src="~/Content/icons/012-user.png" height="50" width="50" class="rounded" style="display:inline-block;" />  Choose Image for the user
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group text-justify">
                                                            <label for="contactImage" class="col-form-label">select image</label>
                                                            <input type="file" id="contactImage" name="contactImage" class="form-control-file change_image_article" aria-labelledby="select_image_help">
                                                            <small id="select_image_help" class="form-text text-muted">Choose image to be associated with this contact</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div style="border:1px solid #d1d5da; margin-top:1%; padding:1%;">
                                                            <div class="text-center potrait-image image_preview_article">
                                                                Preview image here
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--address information-->
                                <div class="row" style="margin-top:4%;  border-top:1px solid #ff2d6d; padding:3%;  border-radius:2%;">
                                    <div class="col-12">
                                        <img src="~/Content/icons/036-form.png" height="30" width="30" class="rounded" style="display:inline-block;" />  <span class="h4 text-muted" style="font-family:'Comic Sans MS';font-weight:bold;">  Address information</span>
                                    </div>
                                    <div class="col-12" style="margin-top:5%;">
                                        <!--addresss number and address street name-->
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="addressNumber" class="text-muted" style="font-weight:bold;">Street Number</label>
                                                <input type="text" class="form-control" id="addressNumber" name="addressNumber" style="border-radius:1px; margin-left:auto; margin-right:auto;" placeholder="enter street number">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="addressName" class="text-muted" style="font-weight:bold;">Street name</label>
                                                <input type="text" class="form-control" id="addressName" name="addressName" style="border-radius:1px; margin-left:auto; margin-right:auto; " placeholder="enter street name">
                                            </div>
                                        </div>

                                        <!--country, province, and city-->
                                        <div class="form-row">
                                            <!--country-->
                                            <div class="form-group col-md-4">
                                                <label for="contactCountry" class="text-muted" style="font-weight:bold;">Select country</label>
                                                <select class="form-control" id="contactCountry" name="contactCountry" aria-describedby="contC" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                    <option value="">Select Country</option>
                                                </select>
                                                <small id="contC" class="form-text text-muted">Select a Country for this user</small>
                                            </div>
                                            <!--province-->
                                            <div class="form-group col-md-4">
                                                <label for="contactProv" class="text-muted" style="font-weight:bold;">Select Province</label>
                                                <select class="form-control" id="contactProv" name="contactProv" aria-describedby="contP" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                    <option value="">Select Province</option>
                                                </select>
                                                <small id="contP" class="form-text text-muted">Select a province</small>
                                            </div>
                                            <!--city-->
                                            <div class="form-group col-md-4">
                                                <label for="contactCiti" class="text-muted" style="font-weight:bold;">Select City</label>
                                                <select class="form-control" id="contactCiti" name="contactCiti" aria-describedby="contCi" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                    <option value="">Select City</option>
                                                </select>
                                                <small id="contCi" class="form-text text-muted">Select a city</small>
                                            </div>
                                        </div>

                                        <!--suburb and postal code-->
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="addressSuburb" class="text-muted" style="font-weight:bold;">Enter Suburb</label>
                                                <input type="text" class="form-control" id="addressSuburb" name="addressSuburb" style="border-radius:1px; margin-left:auto; margin-right:auto;" placeholder="enter suburb">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="addressPostalCode" class="text-muted" style="font-weight:bold;">Postal code</label>
                                                <input type="text" class="form-control" id="addressPostalCode" name="addressPostalCode" style="border-radius:1px; margin-left:auto; margin-right:auto; " placeholder="enter postal code">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--submit button-->
                                <input type="submit" value="Add new contact to the list" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                            </form>
                            <div class="row" style="margin-top:5%;">
                                <div class="col-11">
                                    <div id="contactError" class="hideError">
                                        Make sure all fields are entered, user image is optional
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        @Html.ActionLink("Go to login page", "index", "home", new { @class = "btn btn_primary radio-login-btn" })
                    </div>*@
            </div>
        </div>
    </div>

    <!--Success modal (for all sucess this will be called-->
    <div class="modal fade" id="new-contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="border-radius:unset;border:1px solid #e8e5e5;">
                <div class="modal-header">
                    <h3 class="modal-title" id="contact-modal-title">
                        <img src="~/Content/icons/088-user.png" height="30" width="30" class="rounded" style="display:inline-block;" />  <span style="">New Contact</span>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        @Html.ActionLink("Go to login page", "index", "home", new { @class = "btn btn_primary radio-login-btn" })
                    </div>*@
            </div>
        </div>
    </div>


    <div class="col-12">
        <nav>
            <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                <!--list of contacts-->
                <a class="nav-item nav-link active" id="nav-contactlist" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="true" style="color:#ff2d6d;font-size:0.8em; font-weight:bold;">Contact list</a>
                <!--disabled-->
                <a class="nav-item nav-link" id="nav-disabled" data-toggle="tab" href="#nav-list-disabled" role="tab" aria-controls="nav-list-disabled" aria-selected="false" style="color:#ff2d6d;font-size:0.8em; font-weight:bold;">Disabled contacts</a>
                <a class="nav-item nav-link" id="nav-request-disabled" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" style="color:#ff2d6d;font-size:0.8em; font-weight:bold;">Request to be disabled</a>
                <!--country tab-->
                <a class="nav-item nav-link" id="nav-country-manage" data-toggle="tab" href="#nav-country" role="tab" aria-controls="nav-country" aria-selected="false" style="color:#ff2d6d;font-size:0.8em; font-weight:bold;">Country management</a>
                <!--province tab-->
                <a class="nav-item nav-link" id="nav-prov-manage" data-toggle="tab" href="#nav-province" role="tab" aria-controls="nav-province" aria-selected="false" style="color:#ff2d6d;font-size:0.8em; font-weight:bold;">Province management</a>
                <!--city tab-->
                <a class="nav-item nav-link" id="nav-city-manage" data-toggle="tab" href="#nav-city" role="tab" aria-controls="nav-city" aria-selected="false" style="color:#ff2d6d;font-size:0.8em; font-weight:bold;">City management</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="padding:2%;">
            <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-home-tab">
                <button id="conNew" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;" data-toggle="modal" data-target="#new-contact-modal">add new contact</button>

                <div class="row" style="margin-top:10%; margin-left:auto; margin-right:auto;">
                    <div class="col-12">
                        <div class="h3 text-muted text-center">List of contacts</div>
                        <div class="row">
                            <div class="col-12">
                                <div id="insert_list">
                                    @if (Model.Count() == 0)
                                    {
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <img src="~/Content/images/emptyquarter.png" class="img-fluid" style="border-radius:50%;" />
                                                <div class="text-center text-muted h5" style="margin-top:5%;">
                                                    Looks like a dessert in here people add users
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <table class="table table-borderless table-hover">
                                            <thead>
                                                <tr>

                                                    <th scope="col">full name information</th>
                                                    <th scope="col">email</th>
                                                    <th scope="col">phone</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Gender</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var m in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @*@if (m.Avatar != null)
                                                                {
                                                                    <img class="img-fluid" height="50" width="50" src="@Url.Action("file", "admin", new { userId = m.UserId })" style="display:inline-block;" />
                                                                }*@
                                                            @Html.ActionLink(@m.FirstName+" "+ @m.LastName, "find/user", new { userID = m.UserId })
                                                            @*<a id="@m.UserId" class="fullContactInfo" href="#" style="color:#ff2d6d; text-decoration:none; font-weight:bold;">@m.FirstName @m.LastName</a>*@
                                                        </td>
                                                        <td>@m.Email</td>
                                                        <td>@m.Phone</td>
                                                        <td>@m.Status</td>
                                                        <td>@m.ID</td>
                                                        <td>@m.Gender</td>

                                                        <td>
                                                            <form enctype="multipart/form-data" id="@m.UserId" name="contactDelete" class="contactDelete">
                                                                <input type="hidden" value="@m.UserId" id="contactDeleteHidden" name="contactDeleteHidden" />
                                                                <input type="submit" value="delete" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-list-disabled" role="tabpanel" aria-labelledby="nav-disabled">

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            <!--add country-->
            <div class="tab-pane fade" id="nav-country" role="tabpanel" aria-labelledby="nav-country-manage">
                <h4>Country management</h4>
                <form enctype="multipart/form-data" name="formCountry" id="formCountry" style="margin-left:auto; margin-right:auto; width:70%;">
                    <div class="form-group">
                        <label for="adminCountry">Add country</label>
                        <input type="text" class="form-control" id="countryAdd" name="countryAdd" aria-describedby="countryHelp" placeholder="enter country" style="border-radius:unset;">
                        <small id="countryHelp" class="form-text text-muted">Add country to the list of countries</small>
                    </div>
                    <div class="form-group">
                        <label for="adminCountryDesc">Add Description (optional)</label>
                        <textarea class="form-control" id="adminCountryDesc" name="adminCountryDesc" placeholder="add description for this country" style="border-radius:unset;"></textarea>
                    </div>
                    <input type="submit" value="Add country" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                </form>
                <div class="row" style="margin-top:5%;">
                    <div class="col-11">
                        <div id="countryError" class="hideError">
                            The country added its either it exists or double check any input added
                        </div>
                    </div>
                </div>
            </div>
            <!--add province-->
            <div class="tab-pane fade" id="nav-province" role="tabpanel" aria-labelledby="nav-prov-manage">
                <div class="row">
                    <div class="col-12">
                        <div style="width:80%; margin-left:auto; margin-right:auto;">
                            <h4>Province management</h4>
                            <div class="row">
                                <div class="col-12">
                                    <!--province form-->
                                    <form enctype="multipart/form-data" name="formProvince" id="formProvince" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label for="adminCSelect">choose country</label>
                                            <select class="form-control" id="adminCSelect" name="adminCSelect" aria-describedby="countrySelect" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                <option value="">Select country</option>
                                            </select>
                                            <small id="countrySelect" class="form-text text-muted">choose country from the list of countries</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="adminProvince">Enter Province</label>
                                            <input type="text" class="form-control" id="adminProvince" name="adminProvince" aria-describedby="prvHelp" placeholder="enter province" style="border-radius:unset;">
                                            <small id="prvHelp" class="form-text text-muted">enter Province name</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="adminProvinceDesc">Add Description (optional)</label>
                                            <textarea class="form-control" id="adminProvinceDesc" name="adminProvinceDesc" placeholder="add description for this Province" style="border-radius:unset;"></textarea>
                                        </div>
                                        <input type="submit" value="Add Province" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                    </form>
                                    <div class="row" style="margin-top:5%;">
                                        <div class="col-11">
                                            <div id="provinceError" class="hideError">
                                                The province added its either it exists or double check any input added
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--add city-->
            <div class="tab-pane fade" id="nav-city" role="tabpanel" aria-labelledby="nav-city-manage">
                <div class="row">
                    <div class="col-12">
                        <div style="width:80%; margin-left:auto; margin-right:auto;">
                            <h4>City management</h4>
                            <div class="row">
                                <div class="col-12">

                                    <!--city form-->
                                    <form enctype="multipart/form-data" name="formCity" id="formCity" style="margin-left:auto; margin-right:auto;">
                                        <div class="form-group">
                                            <label for="adminCoSelect">choose country</label>
                                            <select class="form-control" id="adminCoSelect" name="adminCoSelect" aria-describedby="coSelect" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                <option value="">Select country</option>
                                            </select>
                                            <small id="coSelect" class="form-text text-muted">choose country from the list of countries</small>
                                        </div>

                                        <!--province choose-->
                                        <div class="form-group">
                                            <label for="adminPrSelect">choose province</label>
                                            <select class="form-control" id="adminPrSelect" name="adminPrSelect" aria-describedby="proSelect" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                                <option value="">Select province</option>
                                            </select>
                                            <small id="proSelect" class="form-text text-muted">choose province from the list of provinces</small>
                                        </div>

                                        <!--enter city-->
                                        <div class="form-group">
                                            <label for="adminCity">Enter City</label>
                                            <input type="text" class="form-control" id="adminCity" name="adminCity" aria-describedby="prvHelp" placeholder="enter city" style="border-radius:unset;">
                                            <small id="prvHelp" class="form-text text-muted">enter city name</small>
                                        </div>

                                        <!--description enter-->
                                        <div class="form-group">
                                            <label for="adminCityDesc">Add Description (optional)</label>
                                            <textarea class="form-control" id="adminCityDesc" name="adminCityDesc" placeholder="add description for this City" style="border-radius:unset;"></textarea>
                                        </div>
                                        <input type="submit" value="Add City" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                    </form>
                                    <div class="row" style="margin-top:5%;">
                                        <div class="col-11">
                                            <div id="cityError" class="hideError">
                                                The city added its either it exists or double check any input added
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

